body{
    background-color: black;
    
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh; 
    margin: 0;
}

h1{
    color: white;
    font-size: 300%;
    height: fit-content;
    
    

    background-image: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 300% 100%;
    background-position: 0 50%;
    
    /* Permette di applicare il gradiente al testo */
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    /* Animazione */
    animation: rainbow-slide 3s linear infinite;

}



/* Definizione dell'animazione */
@keyframes rainbow-slide {
    0% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}